body {
  background-color: rgb(211,211,211);
 /* margin-left: 20px;*/
}
h1 {
	text-align: center;
	 font-family:'Times New Roman', Times, serif;
}
h2 {
	text-decoration: underline;
	 font-family:'Times New Roman', Times, serif;
}
p {
	font-size: 90%;	
	/*width: 50%;*/
	 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
h3 {
	font-size: 125%;
	text-decoration: underline;
}
img{
	width: 17%;
	height: 17%;
}
h4{
	text-align: center;
	font-size: 110%;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
nav {
	margin-left: 90px;
	margin-right: 90px;
}